@{
    ViewData["Title"] = "ErrorDelete";
}

<h1 asp-action="ErrorDelete">Não é possivel deletar Chefia, pois o mesmo é dono de um departamento.</h1>

<div>
    <a asp-action="Index">Voltar as tabelas.</a>
</div>