@{
    ViewData["Title"] = "ErrorDelete";
}

<h1 asp-action="ErrorDelete">Não é possivel deletar Departamento, pois o mesmo é faz parte de um funcionario.</h1>

<div>
    <a asp-action="Index">Voltar as tabelas.</a>
</div>